body{
    background-color: lightgray;
}

.vertical-line{
    border-left: 2px solid black;
    display: inline-block;
    height: 180px;
    margin: 0 20px;
}

.divOrigineFondsOpération, .divSec3first, .divSec3third{

    text-align: center;
    display: inline-block;
    width: 80%;


}

.divOrigineFondsOpérationGauche, .divOrigineFondsOpérationDroite{


    text-align: center;
    display: inline-block;


}

